body{
    width: 90%;
    margin: auto;
    /* padding: 10px; */
    
}
header, footer {
    background-color: #8e3457  
}
nav {
    background-color: #4a192c;
}
main {
    background-color: #797746;
    height: 200px;
    padding: 10px; 
    margin: auto;
}
div {
    background-color: #e5e2af;
    height: 180px;
    width: 95%;
    margin: auto;
    padding: 10px;
  
}

