body {
    color: white;
}
#conteneur {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    color: white;
}
header {
    height: 60px;
    background-color: #8e3457;
}

p { 
    margin: 0;
}
nav {
    background-color: #4a192c;
    height: 20px;
}
main {
    padding: 5px;
    min-height: 100px;
}
section {
    background-color: orange;

}
div.dim {
    width: 50%;
    height: 150px;
    float: left;
}
.bordeau {
    background-color: #4a192c;
}
.vert-fonce {
    background-color: #797746;
}
.vert-claire {
    background-color: #e6e2af;
}
.bleu {
    background-color: #aed8e6;
}
.clear {
    clear: both;
}
footer {
    height: 60px;
    background-color: #4a192c;
}
