/* https://fonts.google.com/ */
/* 
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("fonts/Roboto-Italic.ttf");
}

/* 
Une mise en page flexible doit avoir un élément parent avec la propriété display définie sur flex.
Les éléments enfants directs du conteneur flexible deviennent automatiquement des éléments flexibles.

.flexbox{
display: flex;

Flex Container : 
flex-direction: column;
flex-direction: column-reverse;
flex-direction: row;
flex-direction: row-reverse;
flex-wrap: wrap;
flex-wrap: nowrap;
flex-wrap: wrap-reverse;
flex-flow: row wrap;
justify-content: center;
justify-content: flex-start;
justify-content: flex-end;
justify-content: space-around;
justify-content: space-between;
justify-content: space-evenly;

height: 200px; à définir absolument une hauteur quand on utilise "align-items"
align-items: center;
align-items: flex-start;
align-items: flex-end;
align-items: stretch;
align-items: baseline;

flex-wrap: wrap;
align-content: space-between;

flex-wrap: wrap;
align-content: space-around;

flex-wrap: wrap;
align-content: stretch;

flex-wrap: wrap;
align-content: center;
align-content: space-evenly;

flex-wrap: wrap;
align-content: flex-start;

flex-wrap: wrap;
align-content: flex-end;

justify-content: center;
align-items: center;

Child Elements (Items) :
display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch;

flex-grow

display: flex;
align-items: stretch;
flex-shrink


flex-basis
flex
align-self


flex-flow

}
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.rectangle {
  width: 500px;
  height: 50px;
  background-color: pink;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exemple-position {
  width: auto;
  height: 500px;
  background-color: rgb(79, 122, 178);
  position: relative;
}

.container {
  width: 1400px;
  margin: auto;
}

.logo2 {
  display: none;
}

header {
  display: flex;
  background-color: #9933cc;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

h2 {
  color: #fff;
  font-family: "Roboto-Italic", sans-serif;
}

header h2:hover {
  color: #a6f28b;
}

/* header h2:hover {
  background-color: green;
} */

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin: 0 5px;
}

a {
  text-decoration: none;
  color: black;
  background-color: #e68f15;
  padding: 5px;
}

a:hover {
  /* font-size: 20px; */
  background-color: white;
  box-shadow: 0 5px 0 0 darkgrey;
}

header > div:first-child {
  display: flex;
  align-items: center;
}

#logo img {
  border-radius: 50%;
}

header > div > h2 {
  margin: 0 15px;
}

footer {
  position: fixed;
  bottom: 0;
}

.petit-bonhomme {
  font-size: 100px;
}

@media (max-width: 1400px) {
  header {
    background-color: #e68f15;
  }
  header h2 {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  header {
    background-color: #a6f28b;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    display: inline;
  }
}
